# Multiple Linear Regression

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('Salary.csv')
df.head()

   Salary  Gender  Age  PhD
0   140.0       1   47    1
1    30.0       0   65    1
2    35.1       0   56    0
3    30.0       1   23    0
4    80.0       0   53    1

In [5]:

X = df[["Age","Gender", "PhD"]]
y = df['Salary']

In [6]:
#create and fit your model
model = LinearRegression().fit(X,y)
model

LinearRegression()

In [7]:
model.coef_

array([ 0.84736062, 11.09438372, 36.43053574])

In [8]:
model.intercept_

-6.954866821612249

In [14]:
model.predict([[47, 1, 1]])

C:\Users\mirfa\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([80.39600194])

In [18]:
model.score(X,y)

0.41544135801334514